.main{
    background: rgba(239, 240, 241, 0.767);
    padding: 20px;
    text-align: center;
    padding-top: 50px;
    min-height: calc(100vh - 50px);
    width:76vw;
    margin-left:24vw;
}

@media screen and (max-width:799px){
    .main{
        width:100%;
        margin-left:0;
    }
  }