  .toggle-button {
      padding-top: 6px;
      padding-bottom: 25px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
  }

  .capsule-button {
      width: 60px;
      height: 7px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px;
  }

  .nav ul {
      padding: 0;
      margin-top: 12px;
  }

  .nav ul li {
      list-style-type: none;
      min-height: 50px;
      border-bottom: 0.5px solid #2c282818;
      padding: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: left;
  }

  .nav ul li:last-child {
      border-bottom: unset;
  }

  .nav-link {
      font-size: 1.5rem;
      height: 100%;
      width: 100%;
      text-decoration: none;
      padding: 15px;
  }

  .nav i {

      background: red;
      font-size: 25px;
      width:45px;
  }

  .nav ul li::before{
      content:"";
      position: absolute;
      height:45px;
      width:45px;
      background: rgba(172, 255, 47, 0.596);
      border-radius: 100%;
      left: 5px;
      z-index: -100;
  }


  .nav ul li:hover,
  .nav ul li:active,
  .nav ul li {
      /* border-radius: 5px; */
  }

  .nav ul li {
      border: unset;
  }

  .nav ul li::after {
      content: "";
      height: 1px;
      width: 85%;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.068);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.062);
      position: absolute;
  }

  @media screen and (max-width:799px) {
      .toggle-button {
          position: fixed;
          width: 100%;
          height: 30px;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          z-index: 1000;
      }

      .nav ul {
          margin-top: 0px;
          padding-top: 30px;
      }

      .nav ul li {
          border: unset;
          text-align: center;
      }

      .nav ul li::after {
          content: "";
          height: 1px;
          width: 85%;
          border-radius: 5px;
          background: rgba(0, 0, 0, 0.068);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.062);
          position: absolute;
      }
  }