.side-bar {
  width: 24vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  /* padding-top:50px; */
  /* -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%); */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 0;
  /* remove scrollbar space */
  background: transparent;
  /*optional: just make scrollbar invisible*/
}

@media screen and (max-width:799px) {
  .side-bar {
    position: absolute;
    width: 100vw;
    max-height: 91vh;
    left: 0;
    right: 0;
    bottom: -543px;
    top: auto;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.4);
  }

  ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }

}