.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  display: flex;
}

.top-bar-logo {
  width: 60px;
}

.logo {
  height: 80%;
  width: auto;
  margin: 5px 10px;
}

.top-bar-spacer {
  flex-grow: 10;
}

.top-bar-name-container {
  padding-top: 5px;
  line-height: 1;
}

.top-bar-name {
  font-size: 25px;
  min-width: 252px;
}

.top-bar-designation {
  font-size: 15px;
}

.social-link-top-container {
  position: relative;
  left: 0;
}

.social-link-top {
  text-decoration: none;
  font-size: 30px;
}

.social-link-top-icon {
  padding: 10px;
}

.fa-github:hover {
  color: rgb(40, 54, 71);
}

.fa-linkedin:hover {
  color: rgb(28, 91, 143);
}

.fa-twitter:hover {
  color: rgb(0, 146, 231);
}

.fa-arrow-circle-down:hover {
  color: rgb(134, 4, 4);
}

.social-link-top-icon:hover {
  animation: top-logo-spin 1 0.5s ease-in-out;
}

@keyframes top-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:799px) {

  .social-link-top-container,
  .top-bar-spacer {
    display: none;
  }

}