/* This is theme-1 for the website */

/* 1) fonts-family 
   2) Font-color
*/
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}



h1,
h2,
h3 {
    font-family: 'Noto Sans KR', sans-serif;

    color: rgb(31, 31, 34);
}

p {
    font-family: 'Rubik', sans-serif;

    color: rgb(38, 38, 41);
}

/******************************/

/******** UI Color *************/

html,
body {}

.main {}


/* Top Bar */
.top-bar {
    color: rgba(215, 218, 223, 0.726);
}

.social-link-top {}




/*side-bar*/

.side-bar {
    background: white;
}

.active {
    background: blueviolet;
}

.capsule-button {
    background-color: rgba(0, 0, 0, 0.274);
}

.nav ul li {}

.nav i{}

.nav ul li:hover {
    background: rgba(36, 37, 39, 0.205);
}

.nav ul li:active {
    background: rgba(36, 34, 34, 0.438);
}

.toggle-button {
    background: rgb(255, 255, 255);
}


/*** Footer***/
.footer {}